html {
  background: #46C2E9; /*url(../img/fon.png) repeat-x left top;*/
}
.container {
    max-width: none !important;
    width: 1170px;
}
.col-xs-4 {
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
    padding-bottom: 15px;
    padding-top: 15px;
}
#logo{
    background: url(../img/logo.png) no-repeat;
    height: 64px;
    width: 206px;
    display: block;
    margin-top: 15px;
}
#header{
    margin-bottom: 15px;
}
#map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
        height: 500px;
}
#block-login{
    margin-top: 30px;
}
.btn-rose {
  color: #ffffff !important;
  background-color: #EE217C;
  border-color: #EE217C;
}
.panel-heading-clear{
    padding: 0;
}
#top-menu ul{
    margin: 0;
}
a{
    color: #46C2E9;
}
#top-menu ul li a:focus,
#top-menu ul li a:active,
#top-menu ul li a:hover{
    background: #EE217C;
    color: #fff;
}
#top-menu ul li ul li a{
    font-size: 12px;
}
#top-menu ul li ul li a:hover{
    color: #EE217C;
}
.form-control{
    font-size: 12px;
}
a[data-target="#registerModal"]{
    padding: 8px 20px;
}
/*#botton-menu ul > li + li::before {
    color: #fff;
    content: "| ";
    padding: 0 5px;
}*/
#botton-menu ul li a{
    color: #fff;
    padding: 0 15px;
}
#botton-menu ul li a:focus,
#botton-menu ul li a:hover{
    text-decoration: underline;
    background: none;
}
#botton-menu{
    margin: 0 auto 20px;
    width: 635px;
}
#wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.modal-backdrop {
    background-color: #46c2e9;
}
#soc{
    width: 275px;
    margin: 0 auto;
}
/*.modal-dialog {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.modal-body {
    overflow-y: auto;
}
.modal-footer {
    margin-top: 0;
}*/
#registerModal .modal-title{
    text-align: center;
    text-transform: uppercase;
}
#registerModal .modal-footer{
    text-align: center;
}
.modal-footer{
    background-color: #f6f8f8;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
#poiskModal .btn-group .btn-default:hover,
#poiskModal .btn-group .btn-default:focus,
#poiskModal .btn-group .btn-default:active,
#poiskModal .btn-group .btn-default.active,
#poiskModal .btn-group .open .dropdown-toggle.btn-default,
#registerModal .btn-group .btn-default:hover,
#registerModal .btn-group .btn-default:focus,
#registerModal .btn-group .btn-default:active,
#registerModal .btn-group .btn-default.active,
#registerModal .btn-group .open .dropdown-toggle.btn-default {
    background-color: #EE217C;
    border-color: #c7d3d6;
    color: #fff !important;
}
.pac-container, .pac-item {
    z-index: 1000000;
}
.modal-title{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 900;
}
.modal-header{
  background: #23ad44;
  -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.blur{
-webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px);
-ms-filter: blur(2px);
filter: blur(2px);
opacity: 0.5;
}
.ovrls{
    background: #fff none repeat scroll 0 0;
    height: 160px;
    margin-left: 60px;
    margin-top: 6px;
    padding: 5px;
    width: 160px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.no-reg-txt{
    color: #000;
    font-size: 12px;
    padding: 23px 11px;
    position: absolute;
    text-align: center;
    text-shadow: -1px 1px 4px #000;
    z-index: 100;
}
.no-reg-txt a{
    color: #EE217C;
}
.no-reg-txt a:hover{
    text-decoration: underline;
}
#block-user a{
    color: #fff;
    padding: 15;
}
#block-user a:hover,
#block-user a:focus{
    background: none;
}
#block-user ul{
    margin: 0;
}
#block-user{
    padding-top: 20px;
    font-size: 14px;
}
#block-user .dropdown-menu a{
    color: #333;
    font-size: 12px;
}
#block-user .nav .open > a,
#block-user .nav .open > a:hover,
#block-user .nav .open > a:focus {
    background-color: transparent !important;
}
a[data-target="#poiskModal"]{
    padding: 8px 30px;
}
.users-btn{
    margin-top: 7px;
    font-size: 12px;
    font-weight: normal;
}
.users-btn a{
    font-size: 12px;
    font-weight: normal;
}
.user-lists{
    margin-left: 15px;
    padding: 8px 15px;
}
.ovrls .badge{
    position: absolute;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
}
#user-1{
     background: #fff none repeat scroll 0 0;
    height: 160px;
    margin-left: -180px;
    margin-top: 295px;
    padding: 5px;
    width: 160px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    position: absolute;
    z-index: 100;
}
#user-1 .badge{
    position: absolute;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
}
#user-2{
     background: #fff none repeat scroll 0 0;
    height: 160px;
    margin-left: 1150px;
    margin-top: 20px;
    padding: 5px;
    width: 160px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    position: absolute;
    z-index: 100;
}
#user-2 .badge{
    position: absolute;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
}
#chat{
    margin-left: 275px;
    margin-top: -450px;
    position: absolute;
    width: 600px;
    z-index: 100;
}
#front{
    position: relative;
    overflow: hidden;
}
#profile a.thumb-lg{
    background: #fff;
    padding: 3px;
    height: 200px;
    width: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    
}
#profile .follows a{
    color: #EE217C;
    text-shadow: 0px 0px 2px #fff;
}
#profile .names{
    color: #363f44;
}
#articles .blog-post a{
    color: #363f44;
}
#articles .blog-post a:hover{
    color: #141719;
}
.anketa .panel-heading{
    background: #46C2E9;
}
.anketa .h3{
    text-shadow: 0px 0px 2px #000;
    color: #fff;
}
.vip{
    float: left;
    height: 39px;
    margin-left: -15px;
    margin-right: 15px;
    margin-top: -10px;
}
#form-register{
  margin: 0;
}
#gender-search-group span.help-block,
#gender-group span.help-block{
  position: absolute;
  font-size: 12px;
  margin-top: 30px;
}
#block-user .dropdown-menu a{
  padding: 5px 15px;
}
#load-avatar{
    height: 30px;
    margin-left: 85px;
    margin-top: 155px;
    position: absolute;
    width: 30px;
}
#load-avatar label{
  padding: 0;
  margin-left: 8px;
  color: #363f44;
  font-size: 20px;
}
#load-fon{
    height: 30px;
    position: absolute;
    width: 30px;
    margin-top: -20px;
    margin-left: -20px;
}
#load-fon label{
  padding: 0;
  margin-left: 8px;
  color: #363f44;
  font-size: 20px;
}
#profile #progress{
    margin-left: 20px;
    margin-top: -8px;
    position: absolute;
    width: 1065px;
    z-index: 1000;
}
/************/
/* admin-menu */
/***********/
#admin-menu{
	margin-bottom:0;
	height: 30px;
	min-height: 30px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #fff;
	font-size: 12px;
	font-family: "tahoma";
}
#admin-menu a{
	color: #fff;
	font-size: 12px;
	font-family: "tahoma";
}
#admin-menu .navbar-nav > li > a{
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#admin-menu .dropdown-menu{
	background: #000;
	z-index: 10000;
	margin-top: -1px;
}
#admin-menu .dropdown-menu a:focus,
#admin-menu .dropdown-menu a:hover{
	background: #222222 !important;
}
#admin-menu .navbar-nav{
	width: 100%;
}
#p404 h1{
  font-size: 72px;
}
#page .wrapper-md{
  margin-bottom: 20px;
}
.m-top-none{
  margin-top: 0;
}
.p-none{
  padding: 0;
}
.carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }
#irinaCarousel{
  margin-bottom: 20px;
}
#irinaCarousel .carousel-control{
  background: none;
  color: #46C2E9;
  opacity: 100;
}
.color-46C2E9{
  color: #46C2E9;
}
#friends .panel-body,
#information .panel-body{
  padding: 0;
}
#friends ul.tabs-left,
#information ul.tabs-left{
  padding: 0;
  border: none;
}
#friends ul.tabs-left li,
#information ul.tabs-left li{
  margin: 0;
  width: 250px;
}
#friends ul.tabs-left li a,
#information ul.tabs-left li a{
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#friends .tab-content,
#information .tab-content{
  width: 855px;
  border-left: 1px solid #DEE5E7;
  min-height: 300px;
}
#friends .tab-content .tab-pane,
#information .tab-content .tab-pane{
  padding: 15px;
}
#work h3,
#kontakt h3,
#about h3{
  margin-top: 0;
  border-bottom: 1px solid #DEE5E7;
  font-size: 18px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
#work .rws,
#kontakt .rws,
#about .rws{
  margin-bottom: 20px;
}
#about .rws .btn{
  margin-bottom: 15px;
}
#work .body ul.lists > li,
#kontakt .body ul.lists > li{
  list-style: none;
  height: 45px;
  line-height: 40px;
  border-bottom: 1px solid #dee5e7;
  padding: 5px 10px 0 10px;
}
#work .body ul.lists > li label,
#kontakt .body ul.lists > li label{
  color: rgb(145, 151, 163);
  width: 200px;
}
#work .body ul.lists,
#kontakt .body ul.lists{
  padding: 0;
}
#kontakt .body .btn{
  margin-top: 3px;
  display: none;
}
#kontakt .body ul.lists > li:hover .btn{
  display: block;
}
#profile-map{
  width: 100%;
  height: 400px;
}
#articlesAll .rows{
  min-height: 130px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dee5e7;
}
.blog-post h2:first-letter,
#articlesAll .rows h3:first-letter{
  text-transform: capitalize;
}
.stats{
  margin-top: 5px;
  padding-top: 5px;
}
.stat-like .btn{
  font-weight: normal;
}
.anketa .thinking{
  white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
#friends-list{
  padding: 0;
  margin-top: 20px;
}
#friends-list li{
  list-style: none;
  height: 102px;
  overflow: hidden;
  border: 1px solid #dee5e7;
  margin-bottom: 20px;
  width: 400px;
}
#friends-list li:nth-child(1n){
  float: left;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0 15px 0 0;
}
#friends-list li:nth-child(2n){
  float: right;
  padding: 0 0 0 15px;
  -webkit-border-top-right-radius: 50px;
-webkit-border-bottom-right-radius: 50px;
-moz-border-radius-topright: 50px;
-moz-border-radius-bottomright: 50px;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;

  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

}
#friends-list li:nth-child(2n) .pull-left{
  margin-right: 0 !important;
  float: right !important;
  margin-left: 15px !important;
}
#friends-list li footer{
  background: #F6F8F8;
  height: 35px;
  width: 353px;
  position: absolute;
  margin-left: 45px;
  margin-top: 65px;
}
#friends-list li .ava{
  position: relative;
  z-index: 1;
}
#friends-list li:nth-child(2n) footer{
  margin-left: -15px;
  margin-top: 65px;
}
#friends-list li .del{
  float: right;
}
#friends-list li .mes{
  float: right;
  margin-right: 10px;
}
#friends-list li:nth-child(2n) .del{
  float: left;
}
#friends-list li:nth-child(2n) .mes{
  float: left;
  margin-left: 10px;
}
#albums{
  min-height: 500px;
}
#albums .img-full{
  border: 1px solid #E9E9E9;
}
#albums .bg-primary .text-lt{
  color: #333 !important;
}
#photos .add-foto{
  height: 200px;
  width: 200px;
}
#photos .add-foto .bootstrap-filestyle,
#photos .add-foto a{
  display: block;
  font-size: 18px;
  text-align: center;
  padding-top: 50px;
  height: 199px;
}
#photos .add-foto .bootstrap-filestyle .glyphicon{
  display: block;
  margin-bottom: 15px;
}
#photos .add-foto .bootstrap-filestyle .glyphicon,
#photos .add-foto .input-group-btn .btn i,
#photos .add-foto a i{
  font-size: 64px;
}
#photos .add-foto .buttonText{
  font-size: 18px;
}
#photos .add-foto a:hover{
  background: #F6F8F8;
}
#photos .add-foto .file-caption{
  border: none;
  width: 198px;
  height: 100px;
}
#photos .add-foto .input-group-btn{
  position: absolute;
  z-index: 100;
  margin-left: 1px;
  width: 199px;
}
#photos .add-foto .btn:active,
#photos .add-foto .btn:focus{
  box-shadow: none;
}
#photos .add-foto .input-group-btn .btn{
  width: 198px;
  height: 199px;
  background: none;
  color: #333 !important;
  border: none;
  font-size: 18px;
  padding-top: 50px;
}
#photos .add-foto .input-group-btn .btn input{
  width: 198px;
  height: 199px;
}
.photos-ul{
  padding: 0;
}
.photos-ul li{
  list-style: none;
  width: 200px;
  float: left;
  margin-right: 15px;
}
.photos-ul .edit-photo{
    margin-left: 165px;
    margin-top: 5px;
    position: absolute;
    display: none;
}
.photos-ul li:hover footer,
.photos-ul li:hover .edit-photo{
  display: block;
}
.photos-ul footer a{
  font-weight: normal;
  font-size: 11px;
  color: #fff;
}
.photos-ul footer a:hover{
  text-decoration: underline;
}
.photos-ul footer{
    margin-top: -54px;
    padding: 30px 5px 5px;
    position: absolute;
    width: 198px;
    display: none;
}
.alba footer{
  margin-top: -64px;
  padding: 30px 15px 5px;
  position: absolute;
  width: 243px;
}
.photos-ul .panel{
  margin-bottom: 15px;
}
#loadPhotoAjax .ovr{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.8;
}
#loadPhotoAjax{
   
}
#loadPhotoAjax .pan{
  position: fixed;
  z-index: 1000;
  width: 100%;
  left: 0px;
  top: 100px;
  padding: 20px;
}
#loadPhotoAjax .col-1{
  width: 70%;
  min-height: 500px;
  background: #000;
}
#loadPhotoAjax .col-2{
  width: 30%;
  min-height: 500px;
  background: #fff;
}
#loadPhotoAjax .imagePhoto{
  text-align: center;
  width: 100%;
  height: 600px;
  white-space: nowrap;
}
#loadPhotoAjax .imagePhoto .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#loadPhotoAjax .imagePhoto img {
    background: #3A6F9A;
    vertical-align: middle;
    max-height: 600px;
    max-width: 1024px;
    display: inline-block !important;
}
.middle::after {
    clear: both;
    content: "";
    display: table;
}
.middle {
    border-right: 350px solid #fff;
    position: relative;
    background: #000;
}
.middle-container {
    float: left;
    /*margin-right: -100%;*/
    overflow: hidden;
    width: 100%;
}
.middle-right-sidebar {
    background: #fff none repeat scroll 0 0;
    float: right;
    margin-right: -350px;
    position: relative;
    width: 350px;
}
#loadPhotoAjax .close{
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin-top: -30px;
    opacity: 1;
    text-shadow: none;
}
#loadPhotoAjax .close:hover{
  color: #46C2E9;
}
#photo-comments-form{
  padding: 15px;
}
#photo-comments{
  padding: 15px;
  height: 530px;
  overflow: hidden;
}
#loadPhotoAjax .next{
    color: #fff;
    font-size: 70px;
    margin-right: 20px;
    margin-top: -35px;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 50%;
}
#loadPhotoAjax .prev{
    color: #fff;
    font-size: 70px;
    margin-left: 20px;
    margin-top: -35px;
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 50%;
}
#loadPhotoAjax .prev:hover,
#loadPhotoAjax .next:hover{
  opacity: 1;
}
#loadPhotoAjax .stars a{
  color: #fff;
  font-size: 30px;
}
#loadPhotoAjax header{
  padding: 15px 20px;
  position: absolute;
  width: 100%;
}
#chat .panel-body{
    height: 235px;
    overflow-y: scroll;
}
.noresult{
    display: block;
    font-size: 200px;
    height: 500px;
    text-align: center;
    width: 100%;
    opacity: 0.15;
}
.noresult p{
  font-size: 72px;
}
#form-user-settings{
  width: 300px;
}
#userMessages{
  display: table;
  width: 100%;
}
.umLeft{
  width: 250px;
  display: table-cell;
  border-right: 1px solid #dee5e7;
  vertical-align: top;
}
.umRight{
  display: table-cell;
  padding: 10px;
  vertical-align: top;
}
.chatList{
  padding: 0;
  margin: 0;
}
.chatList li{
  list-style: none;
}
.chatList li a{
  display: block;
  padding: 10px 15px;
}
.chatList li a:hover{
  background: #F6F8F8;
}
#anyFriends{
  padding: 10px;
}
#anyFriends ul{
  padding: 0;
  margin: 0;
}
#anyFriends ul li{
  list-style: none;
  margin: 10px;
  min-height: 150px;
  min-width: 150px;
  max-width: 200px;
  text-align: center;
  float: left;
}
#anyFriends .name{
  padding: 10px 0;
}
#ksitechat{
  text-align: center;
}
.oneays .panel-heading{
  background: #23B7E5 !important;
}
.vips .panel-heading{
  background: #27C24C !important;
}
.vips .txt,
.oneays .txt{
  padding: 20px;
  text-align: center;
}
.staritem{
  display: inline-block;
  position: relative;
  float: right;
}
.rating-symbol{
  color: #fff;
  cursor: pointer;
}
.m-b-20{
  margin-bottom: 20px;
}


















